Source: helloworld
Section: unknown
Priority: optional
Maintainer: root <stepan.dolgorukov@vk.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/helloworld
#Vcs-Git: https://salsa.debian.org/debian/helloworld.git

Package: helloworld
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
